[submodule "themes/aether"]
	path = themes/aether
	url = https://github.com/josephhutch/aether.git
[submodule "themes/diary"]
	path = themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary.git
[submodule "public"]
	path = public
	url = https://github.com/pabouttier/pabouttier.github.io.git
	branch = master
